body{
    display: flex;
    flex-flow: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.app-nav{
    height:70px;
}
.container{
    flex:1;
    display:flex;
    flex-flow: column;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border:solid #0275d8 1px;
}

.select2-container--default .select2-selection--multiple{
    border: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: :10px;
}

.select2-selection__choice{
    background-color: #0275d8 !important;
    color: #ffffff!important;
    border: none!important;
    padding: 6px!important;
    margin: 0px !important;
    font-size: 14px;
}
